.home {
    width: 100%;
    height: 100%;
    display: table;
}

.background {
    background: url("images/home.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

    .background::after {
        content: " ";
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
    }

.title {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 4.0625rem;
    line-height: 4.375rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
}

    .title span {
        font-size: 3.5rem;
        display: block;
    }

.panel-body {
    position: relative;
    margin: 100px auto;
    background-color: #CAC5C5;
    width: 30%;
    min-width: 220px;
}

.md {
    width: 45%;
    min-width: 150px;
    margin-bottom: 10px;
}

    .md.from {
        float: left;
        margin-right: 10%;
    }

    .md.to {
        float: left;
    }

.calendar {
    margin: 0 auto;
    width: 50%;
    min-width: 170px;
    margin-bottom: 15px;
}

.input-group {
    width: 100%;
}
