.home {
    width: 100%;
    height: 100%;
    display: table;
}

.background {
    background: url("images/home.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

    .background::after {
        content: " ";
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
    }

.title {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 4.0625rem;
    line-height: 4.375rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
}

    .title span {
        font-size: 3.5rem;
        display: block;
    }

.panel-body {
    position: relative;
    margin: 100px auto;
    background-color: #CAC5C5;
    width: 30%;
    min-width: 220px;
}

.md {
    width: 45%;
    min-width: 150px;
    margin-bottom: 10px;
}

    .md.from {
        float: left;
        margin-right: 10%;
    }

    .md.to {
        float: left;
    }

.calendar {
    margin: 0 auto;
    width: 50%;
    min-width: 170px;
    margin-bottom: 15px;
}

.input-group {
    width: 100%;
}

.list_item {
    position: relative;
    display: block;
    padding: .5em .7em .6em .7em;
    text-decoration: none;
    font-size: 1.05em;
    line-height: 1.3;
    overflow: hidden;
    background: #CECECE;
    margin: 5px;
    border: 1px solid black;
}

.list_time {
    float: left;
    width: 4.3em;
    padding-top: .05em;
    position: relative;
}

.list_start {
    font-size: 1.1em;
    color: #222;
    font-weight: bold;
    line-height: 1;
}

.list_end {
    margin-top: .1em;
    color: #767676;
    font-size: 0.9em;
    line-height: 1;
    padding-left: .09em;
}

.list_main {
    position: relative;
}

.list_content {
    overflow: hidden;
}

.list_text {
    display: block;
}

.list_text_small {
    display: block;
    color: #767676;
    font-size: 0.8em;
}

.b-pic {
    position: absolute;
    right: .2em;
    top: .07em;
    width: 1em;
    height: 1em;
}

.pic {
    overflow: hidden;
}

.pic_region:before, .regional_economy:before {
    content: "\31";
    color: #104ba0;
    font-family: 'rw';
}

.list_items {
    padding: 0;
}

.loader:before {
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px auto 0;
    background-image: url("images/loader.gif");
    background-size: cover;
}
